<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultTheme" value="Default" />
    <add key="NebuLogHubUrl" value="http://localhost:5999/NebuLogHub"/>
    <add key="ProjectName" value="NebuLogWpfCoreSample"/>
    <add key="LogLevel" value="Trace"/>
  </appSettings>

</configuration>
